h1
{
	font-family: "Comic Sans MS", Arial, sans-serif;
	text-align: center;
	color: fuchsia;
}
h2
{
	font-size: 18pt;
	text-align: center;
}
h3
{
	font-size: 18pt;
}
body
{
	font-family: "Comic Sans MS", Arial, sans-serif;
	text-align: Justify;
}

a:link, a:visited
{
	color: blue;
}
